html
  head
    //- base(href="/")
    link(rel="stylesheet", href="/static/css/test.css")
    title!= title 
  body
     h1.teste Lista de Jogos
      h2#teste Steam 
      img(src='/static/imgs/MG_Logo.svg' , alt="logo")